// StacKSpy Bridge 版本资源
// 文件属性中的版本信息自动跟随 Version.h

#include <winres.h>
#include "Version.h"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION    STACKSPY_FILEVERSION
 PRODUCTVERSION STACKSPY_FILEVERSION
 FILEFLAGSMASK  0x3fL
 FILEFLAGS      0x0L
 FILEOS         VOS_NT_WINDOWS32
 FILETYPE       VFT_DLL
 FILESUBTYPE    VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName",      "StacKSpy"
            VALUE "FileDescription",  "StacKSpy Bridge Layer"
            VALUE "FileVersion",      STACKSPY_VERSION_STRING
            VALUE "InternalName",     "StacKSpy.Bridge"
            VALUE "LegalCopyright",   "Copyright (C) 2026 StacKSpy"
            VALUE "OriginalFilename", "StacKSpy.Bridge.dll"
            VALUE "ProductName",      "StacKSpy"
            VALUE "ProductVersion",   STACKSPY_VERSION_FULL
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 1200
    END
END
